.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

button {
  font-size: calc(10px + 2vmin);
}

.remote-client-selection {
  min-width: 2px;
}

.remote-client-selection.red {
  background-color: rgba(230, 23, 23, 0.4);
}

.remote-client-selection.blue {
  background-color: rgba(18, 93, 233, 0.4);
}

.remote-client-selection.green {
  background-color: rgba(18, 233, 65, 0.4);
}

.remote-client-selection.orange {
  background-color: rgba(233, 140, 18, 0.4);
}

.remote-client-selection.yellow {
  background-color: rgba(233, 219, 18, 0.4);
}

.remote-client-selection.purple {
  background-color: rgba(190, 18, 233, 0.4);
}

.remote-client-selection.pink {
  background-color: rgba(233, 18, 215, 0.4);
}
